
<h3>Only admins can view pages at this route.</h3>

<hr />

<div class="mb-1">
    <a asp-action="CreateRole">Create a new role</a>
</div>

<div class="mb-1">
    <a asp-action="UserRoles">Manage Role Assignment</a>
</div>
