@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "UserRoles";
}

<h3 class="mb-3">Manage users assigned to each role</h3>
<a asp-action="CreateRole" class="btn-link">Create a new role</a>

<hr />

@if (!Model.Any())
{
    <div class="card">
        <div class="card-header">
            No roles currently exist
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a new role
            </h5>
            <a class="btn btn-primary text-white" style="width: auto" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}
else
{
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">                
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-secondary" asp-action="EditRole" asp-route-id="@role.Id">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
