@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Identity;
@using BugTracker.Models;

@inject UserManager<ApplicationUser> userManager;

@{
    ApplicationUser loggedInUser = new ApplicationUser();
    if (User?.Identity?.Name != null)
    {
        loggedInUser = await userManager.FindByNameAsync(User?.Identity?.Name);   
    }   
}

<style>      
    body {
        background-image: url("/images/geometric-frame-background-green.webp");
        background-position: center;
        /*background-repeat: no-repeat;*/
        background-size: cover;
    } 
</style>

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Bugtrace" />
	<meta
		name="image"
		property="og:image"
		content="~/images/bug-tracker.png"
	/>
	<meta name="author" content="Rio Stockton" />
	<meta property="og:description" content="A bug/issue tracking system" />
	<meta property="og:url" content="https://dotnet-bug-tracker.herokuapp.com/" />
    <title>Bugtrace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BugTracker.styles.css" asp-append-version="true" />   
    <script>
        window.addEventListener("load", () => {
                const loader = document.querySelector(".loader-container");              
                loader.classList.add("loaded");
        });
    </script>
</head>
<body class="h-100 m-0 p-0">    
    <partial name="_LoaderPartial" />
    <main class="h-100">  
        <!-- Top Nav -->
        @*<nav class="navbar navbar-light">

        </nav>*@
        <!-- Main Content -->              
        <div class="d-flex justify-content-center align-items-center py-3 min-vh-100">
            @RenderBody()
        </div>
        <!-- Footer -->
        <footer class="border-top text-muted p-3 mt-auto">
            <div class="container">
                <p class="text-center mb-0">Copyright &copy; 2022 - Bugtrace</p>
            </div>
        </footer>                            
    </main>                                                                                                                                         
        
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true" type="module"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

