@{ 
    ViewBag.Title = "Not Found";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>
<hr />
<h4>@ViewBag.ErrorMessage</h4>

<a asp-controller="Project" asp-action="ListProjects" >Go Home</a>