@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="w-100">   
    <div class="card mx-auto" style="max-width: 700px">
        <div class="card-header">
             <h1 class="fs-2 mb-0">Manage Account Details</h1>
        </div>
        <div class="row g-4 card-body">
            <div class="col-md-4">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-8">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
