
@{
    ViewData["Title"] = "Dashboard";
}

<div id="myPieChart" @*style="width: 900px; height: 500px"*@>
    
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/chart/chart.js"></script>
}