@model IEnumerable<BugTracker.Models.RoleViewModel>

@{
    ViewData["Title"] = "UserRoles";
}

<style>
    btn, .bi {
        cursor: pointer;
    }        
</style>

<main id="rolesMain">
    <h3 class="mb-3">Manage users assigned to each role</h3>
    <a asp-action="CreateRole" class="btn-link">Create a new role</a>

    <hr />

    @if (!Model.Any())
    {
        <div class="card">
            <div class="card-header">
                No roles currently exist
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a new role
                </h5>
                <a class="btn btn-primary text-white" style="width: auto" asp-action="CreateRole">
                    Create Role
                </a>
            </div>
        </div>
    }
    else
    {        
        foreach (var role in Model)
        {
            <div>
                <partial name="_RoleCard" model="role" />
            </div>           
        }    

        <nav class="m-2" aria-label="collection of roles">                    
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>                    
        </nav>
    }
</main>
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
