@model IEnumerable<BugTracker.Models.RoleViewModel>

@{
    ViewData["Title"] = "UserRoles";
}

<style>
    btn, .bi, .user-dropdown-item {
        cursor: pointer;
    }        
</style>

<main id="rolesMain">
    <h3 class="mb-3">Manage users assigned to each role</h3>
    <a asp-action="CreateRole" class="btn-link">Create a new role</a>

    <hr />

    @if (!Model.Any())
    {
        <div class="card">
            <div class="card-header">
                No roles currently exist
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a new role
                </h5>
                <a class="btn btn-primary text-white" style="width: auto" asp-action="CreateRole">
                    Create Role
                </a>
            </div>
        </div>
    }
    else
    {        
        foreach (var role in Model)
        {
            <div>
                <partial name="_RoleCard" model="role" />
            </div>           
        }    

        <!-- Role Pagination -->
        <nav class="m-2" aria-label="collection of roles">                    
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>                    
        </nav>

        <!-- User Dropdown Modal -->
        <div class="modal fade" id="userDropdownModal" tabindex="-1" aria-labelledby="userDropdownModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select a user from the dropdown below</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- User Select Dropdown -->
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="userSelectDropdown">Users</label>
                  </div>
                  <select class="custom-select" id="userSelectDropdown">                    
                  </select>
                </div>

              </div>
              <div class="modal-footer text-left">                
                <button type="button" class="btn btn-primary add-user">Add User</button>
              </div>
            </div>
          </div>
        </div>
    }
</main>
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
