@model IEnumerable<BugTracker.Models.RoleViewModel>

@{
    ViewData["Title"] = "UserRoles";
}

<main id="rolesMain">
    <h3 class="mb-3">Manage users assigned to each role</h3>
    <a asp-action="CreateRole" class="btn-link">Create a new role</a>

    <hr />

    @if (!Model.Any())
    {
        <div class="card">
            <div class="card-header">
                No roles currently exist
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a new role
                </h5>
                <a class="btn btn-primary text-white" style="width: auto" asp-action="CreateRole">
                    Create Role
                </a>
            </div>
        </div>
    }
    else
    {
        foreach (var role in Model)
        {
            <div class="card mb-3 role-card" data-id="@role.Id">
                <div class="card-header">
                    Role id: @role.Id
                </div>
                <div class="card-body">
                    <input class="card-title p-2 cursor-pointer rounded border border-0 bg-transparent font-weight-bold role-name-input" disabled asp-for="@role.Name" />
                    <ul class="list-group error-list">                        
                    </ul>
                    <ul class="list-group list-group-flush role-user-list">

                    @if (!role.Users.Any())
                    {
                        <li class="list-group-item">No users are associated with this role</li>
                    }
                    else
                    {                        
                        @foreach (var userName in role.Users)
                        {
                            <li class="list-group-item">@userName</li>
                        }                        
                    }   

                    </ul>
                </div>
                <div class="card-footer">
                    <btn class="btn btn-primary text-white cursor-pointer edit-role">Edit</btn>
                    <btn class="btn btn-danger cursor-pointer delete-role">Delete</btn>
                </div>
            </div>
        }
    }
</main>
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
