html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@media screen and (max-width: 2000px) and (min-width: 1068px) {
    .ticketAttachmentImg {
        height: 200px;
        width: auto;
    }
}

/* Image colour filters */
.saturate {
    filter: saturate(3);
    -webkit-filter: saturate(3);
}

.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.contrast {
    filter: contrast(160%);
    -webkit-filter: contrast(160%);
}

.brightness {
    filter: brightness(0.25);
    -webkit-filter: brightness(0.25);
}

.blur {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.invert {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.sepia {
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
}

.huerotate {
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
}

.opacity {
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
}