:root {
    --loaderPrimary: #4582EC /*#a5a7bb*/;
    --loaderSecondary: #ADB5BD /*#a496a4*/;
    --loaderTertiary: #343A40 /*#554d73*/;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}
*/

@media screen and (max-width: 2000px) and (min-width: 1068px) {
    .ticketAttachmentImg {
        height: 200px;
        width: auto;
    }
}

/* Image colour filters */
.saturate {
    filter: saturate(3);
    -webkit-filter: saturate(3);
}

.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.contrast {
    filter: contrast(160%);
    -webkit-filter: contrast(160%);
}

.brightness {
    filter: brightness(0.25);
    -webkit-filter: brightness(0.25);
}

.blur {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.invert {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.sepia {
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
}

.huerotate {
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
}

.opacity {
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
}

/* Loader Styles */
.loader-container {
    position: fixed;
    top: 0;   
    background-color: #eee;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.loader {
    width: 150px;
    height: 150px;
}

svg {
    width: 90%;
    fill: none;
}

.load {
    transform-origin: 50% 50%;
    stroke-dasharray: 570;
    stroke-width: 20px;
}

.load.one {
    stroke: var(--loaderTertiary);
    animation: load 1.5s infinite;
}

.load.two {
    stroke: var(--loaderSecondary);
    animation: load 1.5s infinite;
    animation-delay: 0.1s;
}

.load.three {
    stroke: var(--loaderPrimary);
    animation: load 1.5s infinite;
    animation-delay: 0.2s;
}

.point {
    animation: bounce 1s infinite ease-in-out;
}

.point.one {
    fill: var(--loaderPrimary);
    animation-delay: 0s;
}

.point.two {
    fill: var(--loaderSecondary);
    animation-delay: 0.1s;
}

.point.three {
    fill: var(--loaderTertiary);
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@keyframes load {
    0% {
        stroke-dashoffset: 570;
    }

    50% {
        stroke-dashoffset: 530;
    }

    100% {
        stroke-dashoffset: 570;
        transform: rotate(360deg);
    }
}

.loaded {
    visibility: hidden;
    transition: all .3s 1s ease-out;
}