@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-fluid d-flex justify-content-center align-items-center mx-auto" style="max-width: 1000px">
    <div class="row g-5">
        <div class="col col-12 col-md-6">
            <img src="~/images/login.webp" class="w-100" alt="Login Image">
        </div>
        <div class="col col-12 col-md-6 card mx-auto">        
            <form id="account" method="post">
                <div class="d-flex flex-column justify-content-center align-items-center mt-3 mb-2">                
                    <i class="fas fa-route text-dark mb-3" style="font-size: 2.2em"></i>                
                    <h1 class="fs-3 text-secondary">Login Here</h1>
                </div>         
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-floating mb-3">
                    <input asp-for="Input.UserName" class="form-control" aria-required="true" />
                    <label asp-for="Input.UserName" class="form-label"></label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>*@     
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                @*<div>
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>*@
                <div class="d-flex flex-column justify-content-center align-items-center">                    
                    <button asp-route-returnUrl="@Url.Action("Index", "Dashboard", new { area = "" })" id="login-submit" type="submit" class="btn btn-lg btn-success mb-3 w-100">
                        Log in
                    </button>                   
                    <div>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword" class="text-decoration-none link-secondary">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-decoration-none link-secondary">Register as a new user</a>
                        </p>
                        @*<p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>*@      
                        <p class="mb-0">                  
                            <a asp-action="DisplayDemoLoginForm" asp-controller="Account" class="text-decoration-none link-secondary">Login with a demo account</a>                   
                        </p>
                    </div>
                </div>                
            </form>             
        </div>    
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @*<script src="~/js/account/account.js"></script>*@
}

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}