@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-6 card" style="max-width: 400px">        
        <form id="account" method="post">
            <div class="d-flex justify-content-center align-items-center mt-3 mb-2">
                <h1 class="fs-3 text-secondary">Log in here</h1>
            </div>         
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" aria-required="true" />
                <label asp-for="Input.UserName" class="form-label"></label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>     
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            @*<div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>*@
            <div class="d-flex flex-column justify-content-center align-items-center">                    
                <button id="login-submit" type="submit" class="btn btn-lg btn-success mb-3 w-100">Log in</button>                   
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" class="text-decoration-none link-secondary">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-decoration-none link-secondary">Register as a new user</a>
                    </p>
                    @*<p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>*@
                    <p>
                        <a asp-action="DisplayDemoLoginForm" asp-controller="Account" class="text-decoration-none link-secondary">Login with a demo account</a>
                    </p>
                </div>
            </div>                
        </form>             
    </div>    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @*<script src="~/js/account/account.js"></script>*@
}

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}