<h2>Select a demo account</h2>
<hr />
<div class="row g-4 mb-3">
    <div class="col col-md-6">
        <!--Demo Admin Card-->
        <div class="card">
              <i class="bi bi-person-circle"></i>
              <div class="card-body">
                <p class="card-text fs-5">Demo Admin</p>
              </div>
        </div>        
    </div>
    <div class="col col-md-6">
        <!--Demo Project Manager Card-->
        <div class="card">
              <i class="bi bi-person-circle bg-orange"></i>
              <div class="card-body">
                <p class="card-text fs-5">Demo Project Manager</p>
              </div>
        </div>        
    </div>
    <div class="col col-md-6">
        <!--Demo Developer Card-->
        <div class="card">
              <i class="bi bi-person-circle"></i>
              <div class="card-body">
                <p class="card-text fs-5">Demo Developer</p>
              </div>
        </div>        
    </div>
    <div class="col col-md-6">
        <!--Demo Submitter Card-->
        <div class="card">
              <i class="bi bi-person-circle"></i>
              <div class="card-body">
                <p class="card-text fs-5">Demo Submitter</p>
              </div>
        </div>        
    </div>
    <a id="backToLoginLink" class="link-success">Back to login</a>
</div>
