@model BugTracker.Areas.Identity.Pages.Account.LoginModel

<div class="row d-flex justify-content-center p-3">
    <div class="col-md-6 border rounded">
        <section>
            <form id="account" method="post">
                <div class="d-flex justify-content-center align-items-center my-3 border-bottom">
                    <h1 class="fs-3">Select a demo account</h1>
                </div>                              
                <div class="row g-4 mb-3">
                    <button asp-route-role="Admin" type="submit" class="col col-sm-6 border-0 bg-transparent">
                        <!--Demo Admin Card-->
                        <div class="card h-100">
                            <img src="~/Images/default-user-icon.jpg" />
                            <div class="card-body">
                                <p class="card-text fs-5">Demo Admin</p>
                            </div>
                        </div>        
                    </button>
                    <button asp-route-role="Project Manager" type="submit" class="col col-sm-6 border-0 bg-transparent">
                        <!--Demo Project Manager Card-->
                        <div class="card h-100">
                            <img src="~/Images/default-user-icon.jpg" />
                            <div class="card-body">
                                <p class="card-text fs-5">Demo Project Manager</p>
                            </div>
                        </div>        
                    </button>
                    <button asp-route-role="Demo Developer" type="submit" class="col col-sm-6 border-0 bg-transparent">
                        <!--Demo Developer Card-->
                        <div class="card h-100">
                            <img src="~/Images/default-user-icon.jpg" />
                            <div class="card-body">
                                <p class="card-text fs-5">Demo Developer</p>
                            </div>
                        </div>        
                    </button>
                    <button asp-route-role="Demo Submitter" type="submit" class="col col-sm-6 border-0 bg-transparent">
                        <!--Demo Submitter Card-->
                        <div type="submit" class="card h-100">
                            <img src="~/Images/default-user-icon.jpg" />
                            <div class="card-body">
                                <p class="card-text fs-5">Demo Submitter</p>
                            </div>
                        </div>        
                    </button>
                    <a class="link-secondary text-decoration-none" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("ListProjects", "Project", new { area = "" })">
                        Have an account? <span class="text-decoration-underline">Login Here</span>   
                    </a>
                </div>
            </form>
        </section>
    </div>    
</div>

<!--<i class="bi bi-person-circle bg-light"></i>-->