@model BugTracker.Areas.Identity.Pages.Account.LoginModel

<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-6 card p-3" style="max-width: 500px">        
        <div class="d-flex justify-content-center align-items-center mb-2">
            <h1 class="fs-3 text-secondary">Select a demo account</h1>
        </div>  
        <div class="row row-cols-2 row-cols-sm-2 g-3 mb-3">
            <a asp-action="LoginWithDemoAccount" asp-controller="Account" asp-route-role="Admin" class="col col-xs-12 border-0 text-decoration-none text-dark">
                <!--Demo Admin Card-->
                <div class="card h-100 d-flex flex-column justify-content-center align-items-center"> 
                    @*<img src="~/Images/default-user-icon.jpg" alt="default-user-icon.jpg" class="card-img-top img-fluid brightness" /> *@                    
                    <div class="card-body">
                        <i class="fa fa-user-tie fa-9x"></i>                        
                    </div>
                    <div class="card-footer">
                        <p class="card-text fs-5 text-decoration-none text-center">Admin</p>
                    </div>
                </div>        
            </a>
            <a asp-action="LoginWithDemoAccount" asp-controller="Account" asp-route-role="Project Manager" class="col border-0 text-decoration-none text-dark">
                <!--Demo Project Manager Card-->
                <div class="card h-100 d-flex flex-column justify-content-center align-items-center">                        
                    @*<img src="~/Images/default-user-icon.jpg" alt="default-user-icon.jpg" class="card-img-top img-fluid" />*@
                    <div class="card-body">
                        <i class="fa fa-user-tie fa-9x text-danger"></i>                        
                    </div>
                    <div class="card-footer">
                        <p class="card-text fs-5 text-decoration-none text-center">Project Manager</p>
                    </div>
                </div>        
            </a>
            <a asp-action="LoginWithDemoAccount" asp-controller="Account" asp-route-role="Developer" class="col border-0 text-decoration-none text-dark">
                <!--Demo Developer Card-->
                <div class="card h-100 d-flex flex-column justify-content-center align-items-center">                       
                    @*<img src="~/Images/default-user-icon.jpg" alt="default-user-icon.jpg" class="card-img-top img-fluid" />*@
                    <div class="card-body">
                        <i class="fa fa-user-tie fa-9x text-primary"></i>                        
                    </div>
                    <div class="card-footer">
                        <p class="card-text fs-5 text-decoration-none text-center">Developer</p>
                    </div>
                </div>        
            </a>
            <a asp-action="LoginWithDemoAccount" asp-controller="Account" asp-route-role="Submitter" class="col border-0 text-decoration-none text-dark">
                <!--Demo Submitter Card-->
                <div class="card h-100 d-flex flex-column justify-content-center align-items-center">
                    @*<img src="~/Images/default-user-icon.jpg" alt="default-user-icon.jpg" class="card-img-top img-fluid" />*@
                    <div class="card-body">
                        <i class="fa fa-user-tie fa-9x text-success"></i>                        
                    </div>
                    <div class="card-footer">
                        <p class="card-text fs-5 text-decoration-none text-center">Submitter</p>
                    </div>
                </div>        
            </a>                
        </div>
        <a class="link-secondary text-decoration-none" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("ListProjects", "Project", new { area = "" })">
            Have an account? <span class="text-decoration-underline">Login Here</span>   
        </a>      
    </div>
</div>

@*<div class="row d-flex justify-content-center p-3">
    <div class="col-md-6 card">
        <div class="card-body">
            <div class="d-flex justify-content-center align-items-center my-3 border-bottom">
                <h1 class="fs-3">Select a demo account</h1>
            </div>                              
            <div class="row g-1 mb-3">                    
                <a asp-action="LoginWithDemoAccount" asp-controller="Account" asp-route-role="Admin" class="col col-sm-6 border-0 text-decoration-none text-secondary">
                    <!--Demo Admin Card-->
                    <div class="card h-100">
                        <img src="~/Images/default-user-icon.jpg" alt="default-user-icon.jpg" class="card-img-top img-fluid" style="max-height: 200px; max-width: 200px" />
                        <div class="card-body">
                            <p class="card-text fs-5 text-decoration-none">Demo Admin</p>
                        </div>
                    </div>        
                </a>
                <a asp-action="LoginWithDemoAccount" asp-controller="Account" asp-route-role="Project Manager" class="col col-sm-6 border-0 bg-transparent text-decoration-none text-secondary">
                    <!--Demo Project Manager Card-->
                    <div class="card h-100">
                        <img src="~/Images/default-user-icon.jpg" alt="default-user-icon.jpg" class="card-img-top img-fluid" style="max-height: 200px; max-width: 200px" />
                        <div class="card-body">
                            <p class="card-text fs-5">Demo Project Manager</p>
                        </div>
                    </div>        
                </a>
                <a asp-action="LoginWithDemoAccount" asp-controller="Account" asp-route-role="Developer" class="col col-sm-6 border-0 bg-transparent text-decoration-none text-secondary">
                    <!--Demo Developer Card-->
                    <div class="card h-100">                       
                        <img src="~/Images/default-user-icon.jpg" alt="default-user-icon.jpg" class="card-img-top img-fluid" style="max-height: 200px; max-width: 200px" />
                        <div class="card-body">
                            <p class="card-text fs-5">Demo Developer</p>
                        </div>
                    </div>        
                </a>
                <a asp-action="LoginWithDemoAccount" asp-controller="Account" asp-route-role="Submitter" class="col col-sm-6 border-0 bg-transparent text-decoration-none text-secondary">
                    <!--Demo Submitter Card-->
                    <div class="card h-100">
                        <img src="~/Images/default-user-icon.jpg" alt="default-user-icon.jpg" class="card-img-top img-fluid" style="max-height: 200px; max-width: 200px" />
                        <div class="card-body">
                            <p class="card-text fs-5">Demo Submitter</p>
                        </div>
                    </div>        
                </a>
                <a class="link-secondary text-decoration-none" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("ListProjects", "Project", new { area = "" })">
                    Have an account? <span class="text-decoration-underline">Login Here</span>   
                </a>
            </div>
        </div>                    
    </div>    
</div>*@

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!--<i class="bi bi-person-circle bg-light"></i>-->
